In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE

import matplotlib.pyplot as plt

# The deep learning model was trained using Keras functional API, 
# running on top of TensorFlow in Google Colaboratory online platform 
# with Python 3.6 notebook.
import tensorflow as tf
from tensorflow import keras
from keras.models import load_model, Model, Sequential
from keras.layers import Conv2D, Dense, Dropout, Flatten, Input, MaxPool2D

**About the original paper:**
*   Title: Application of deep and machine learning techniques for multi-label classification performance on psychotic disorder diseases
*   Authors: Israel Elujide, Stephen G. Fashoto, Bunmi Fashoto, Elliot Mbunge, Sakinat O. Folorunso, Jeremiah O. Olamijuwon
*   Dataset: The data were obtained from Yaba Psychiatry Hospital, Yaba, Lagos State, Nigeria by Adejumo et al.
*   Link: https://www.sciencedirect.com/science/article/pii/S2352914821000356

# Dependencies

**Basic**

Process the file:
*   from google.colab import files

Process the data:
*   import numpy as np
*   import pandas as pd

Split data into train and test subsets:
*   from sklearn.model_selection import train_test_split


**Balancing data**

*   from imblearn.over_sampling import SMOTE


**Machine learning**

*   from sklearn.neural_network import MLPClassifier
*   from sklearn.svm import LinearSVC
*   from sklearn.ensemble import RandomForestClassifier
*   from sklearn.tree import DecisionTreeClassifier

**Deep learning**

Keras funtional API:
*   from tensorflow import keras
*   from keras.models import load_model, Model, Sequential # Sequential groups a linear stack of layers into a tf.keras.Model.
*   from keras.layers import Conv2D, Dense, Dropout, Flatten, Input, MaxPool2D

# Import Files

**How to access to the dataset:**

Please go the Appendix A of the [paper](https://www.sciencedirect.com/science/article/pii/S2352914821000356#cebib0010) or download through this [link](https://www.sciencedirect.com/science/article/pii/S2352340917303487#ec0010):


*   In the section 'Extras', please click on 'Download all' to get the cvs file.
*   Click on 'Choose Files' to upload the csv file here.

In [2]:
# Upload data file if using google colab
# from google.colab import files
# uploaded = files.upload()

# df = pd.read_csv(io.BytesIO(uploaded['data.csv']),encoding='cp1252')

In [2]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive/')
path = "/content/drive/MyDrive/data.csv"

df = pd.read_csv(path)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
df

,sex,age,faNoily_status,religion,occupation,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,Insominia,shizopherania,vascula_demetia,MBD,Bipolar,agecode
0,M,18,Yes,C,STUDENT,Yes,S,Yes,No,No,Yes,N,P,P,P,N,1
1,F,30,Yes,M,ARTISAN,Yes,S,Yes,No,Yes,Yes,P,P,P,N,N,1
2,M,22,Yes,C,STUDENT,No,S,No,No,No,Yes,P,P,P,N,P,1
3,M,35,No,M,ARTISAN,No,M,No,No,No,Yes,P,P,N,N,P,2
4,M,30,Yes,M,ARTISAN,Yes,M,No,No,No,Yes,P,P,P,P,P,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,F,73,Yes,M,RETIRED,Yes,S,Yes,No,No,Yes,P,N,P,N,P,3
496,F,50,No,M,ARTISAN,No,M,Yes,No,No,No,P,P,N,P,P,2
497,F,32,No,C,FORCE,No,M,No,No,No,Yes,N,P,P,P,N,2
498,M,13,Yes,C,STUDENT,No,S,Yes,No,No,No,N,P,N,N,N,1
499,F,19,Yes,M,STUDENT,No,S,Yes,No,No,Yes,N,P,P,N,N,1

In [4]:
set(df['Bipolar'])

{'N', 'P'}

# Data Preprocessing

**Encode data**


*   The Negative or N values are encoded as 0 and the Positive or P values are encoded as 1.
*   Add 'target' column with all combinations with more than 6 occurrences.

In [5]:
## Binary and One-hot encoding for categorial variables

# Encode 'sex' (F/M) into binary value
df['sex'].replace(['F', 'M'], [0, 1], inplace=True)

# Encode 'faNoily_status' (No/Yes) into binary value
df['faNoily_status'].replace(['No', 'Yes'], [0, 1], inplace=True)

# Encode 'genetic' (No/Yes) into binary value
df['genetic'].replace(['No', 'Yes'], [0, 1], inplace=True)

# Encode 'status' (M/S) into binary value
df['status'].replace(['M', 'S'], [0, 1], inplace=True)

# Encode 'loss_of_parent' (No/Yes) into binary value
df['loss_of_parent'].replace(['No', 'Yes'], [0, 1], inplace=True)

# Encode 'divorse' (No/Yes) into binary value
df['divorse'].replace(['No', 'Yes'], [0, 1], inplace=True)

# Encode 'Injury' (No/Yes) into binary value
df['Injury'].replace(['No', 'Yes'], [0, 1], inplace=True)

# Encode 'Spiritual_consult' (No/Yes) into binary value
df['Spiritual_consult'].replace(['No', 'Yes'], [0, 1], inplace=True)



# region
dum_religion = pd.get_dummies(df.religion, prefix='religion')
df = pd.concat([df, dum_religion], axis=1)
df.drop('religion', inplace=True, axis=1)

# occupation
dum_occ = pd.get_dummies(df.occupation, prefix='occupation')
df = pd.concat([df, dum_occ], axis=1)
df.drop('occupation', inplace=True, axis=1)

# agecode
dum_agecode = pd.get_dummies(df.agecode, prefix='agecode')
df = pd.concat([df, dum_agecode], axis=1)
df.drop('agecode', inplace=True, axis=1)



# Insominia (N/P)
df['Insominia'].replace(['N', 'P'], [0, 1], inplace=True)

# MBD (N/P)
df['MBD'].replace(['N', 'P'], [0, 1], inplace=True)

# Bipolar (N/P)
df['Bipolar'].replace(['N', 'P'], [0, 1], inplace=True)

# shizopherania (N/P)
df['shizopherania'].replace(['N', 'P'], [0, 1], inplace=True)

# vascula_demetia (N/P)
df['vascula_demetia'].replace(['N', 'P'], [0, 1], inplace=True)

data_original = df.copy()

data_original

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,Insominia,...,religion_O,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3
0,1,18,1,1,1,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,30,1,1,1,1,0,1,1,1,...,0,1,0,0,0,0,0,1,0,0
2,1,22,1,0,1,0,0,0,1,1,...,0,0,0,0,0,1,0,1,0,0
3,1,35,0,0,0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,1,0
4,1,30,1,1,0,0,0,0,1,1,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,73,1,1,1,1,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
496,0,50,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
497,0,32,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
498,1,13,1,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
499,0,19,1,0,1,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0

Our target variables are in this order: Insomnia, schizophrenia, vascular dementia, ADHD and Bi-polar disorder.

In [6]:
data = df.copy()
data['target'] = data['Insominia'].astype(str) + data['shizopherania'].astype(str) + data['vascula_demetia'].astype(str) + data['MBD'].astype(str) + data['Bipolar'].astype(str)

data

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,Insominia,...,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3,target
0,1,18,1,1,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,01110
1,0,30,1,1,1,1,0,1,1,1,...,1,0,0,0,0,0,1,0,0,11100
2,1,22,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,1,0,0,11101
3,1,35,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,1,0,11001
4,1,30,1,1,0,0,0,0,1,1,...,1,0,0,0,0,0,1,0,0,11111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,73,1,1,1,1,0,0,1,1,...,0,0,0,1,0,0,0,0,1,10101
496,0,50,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,1,0,11011
497,0,32,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,01110
498,1,13,1,0,1,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,01000
499,0,19,1,0,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,01100

In [7]:
# Paper page 9 - "As such, we removed all combinations with less than 6 occurrences."
data = data.groupby('target').filter(lambda x: len(x) > 6)

imbalanced_data = data.copy()
# we have 'target' for these values
del imbalanced_data['Insominia']
del imbalanced_data['shizopherania']
del imbalanced_data['vascula_demetia']
del imbalanced_data['MBD']
del imbalanced_data['Bipolar']

balanced_data = data.copy()

del data['target']

In [8]:
imbalanced_data

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,religion_C,...,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3,target
0,1,18,1,1,1,1,0,0,1,1,...,0,0,0,0,1,0,1,0,0,01110
2,1,22,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,1,0,0,11101
3,1,35,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,11001
4,1,30,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,11111
5,0,86,1,0,0,1,0,0,1,1,...,0,0,0,1,0,0,0,0,1,01100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,73,1,1,1,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,10101
496,0,50,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,11011
497,0,32,0,0,0,0,0,0,1,1,...,0,0,1,0,0,0,0,1,0,01110
498,1,13,1,0,1,1,0,0,0,1,...,0,0,0,0,1,0,1,0,0,01000
499,0,19,1,0,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,01100

In [9]:
balanced_data

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,Insominia,...,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3,target
0,1,18,1,1,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,01110
2,1,22,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,1,0,0,11101
3,1,35,0,0,0,0,0,0,1,1,...,1,0,0,0,0,0,0,1,0,11001
4,1,30,1,1,0,0,0,0,1,1,...,1,0,0,0,0,0,1,0,0,11111
5,0,86,1,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,1,01100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,73,1,1,1,1,0,0,1,1,...,0,0,0,1,0,0,0,0,1,10101
496,0,50,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,1,0,11011
497,0,32,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,01110
498,1,13,1,0,1,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,01000
499,0,19,1,0,1,1,0,0,1,0,...,0,0,0,0,1,0,1,0,0,01100

# Balance dataset with SMOTE
Just try SMOTE

In [10]:
temp = data.copy()
y = temp.pop('Insominia')
X = temp

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

X_train

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,shizopherania,...,religion_O,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3
323,0,44,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
81,1,41,0,0,0,1,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
186,0,40,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,1,0
402,0,34,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
241,0,24,1,1,1,1,0,0,1,1,...,1,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,1,43,0,0,0,1,1,1,1,1,...,0,0,1,0,0,0,0,0,1,0
309,0,24,1,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,1,0,0
7,1,46,0,1,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,1,0
153,1,43,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
230,1,42,0,1,0,0,1,1,0,1,...,0,1,0,0,0,0,0,0,1,0

In [13]:
# every sample had a total of 101 samples each
smote = SMOTE(random_state=101)
X_train_balance, y_train_balance = smote.fit_resample(X_train, y_train.ravel())
X_train_balance

,sex,age,faNoily_status,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,shizopherania,...,religion_O,occupation_ARTISAN,occupation_C/SERVANT,occupation_FORCE,occupation_RETIRED,occupation_STUDENT,occupation_UNEMPLYD,agecode_1,agecode_2,agecode_3
0,0,44,1,1,0,1,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
1,1,41,0,0,0,1,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
2,0,40,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,1,0
3,0,34,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
4,0,24,1,1,1,1,0,0,1,1,...,1,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0,60,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
398,0,43,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,1,0
399,0,50,0,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
400,0,67,1,1,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
401,0,61,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

# Multi-Label Classification Model on dataset with class imbalance.

# Machine learning

In [14]:
from sklearn.neural_network import MLPClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

Train a Multilayer Perceptron (MLP), Support Vector Machines (SVM), Random Forest (RF) and Decision Tree (DT) on the training data (which is 80% of the whole data). The four algorithms are evaluated on the test set (which is 20% of the sampled data). The accuracy and balanced accuracy are as presented in Table 3.

![Table 3.png]()

In [21]:
ml_results = []
dl_results = []

In [22]:
temp = imbalanced_data.copy()
y_multi_imbalanced = temp.pop('target')
X_multi_imbalanced = temp
X_train, X_test, y_train, y_test = train_test_split(X_multi_imbalanced, y_multi_imbalanced, test_size=0.2)

Multilayer Perceptron (MLP)

In [23]:
MLP = MLPClassifier()
MLP.fit(X_train, y_train)
mlp_score = MLP.score(X_test, y_test)
ml_results.append(f"Imbalanced data - MLP: {mlp_score}")
print(f"MLP for imbalanced data = {mlp_score}")

MLP for imbalanced data = 0.4536082474226804

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Support Vector Machines (SVM)

In [24]:
svc = LinearSVC()
svc.fit(X_train, y_train)
svm_score = svc.score(X_test, y_test)
ml_results.append(f"Imbalanced data - SVM: {svm_score}")
print(f"SVM for imbalanced data = {svm_score}")

SVM for imbalanced data = 0.36082474226804123

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Random Forest (RF)

In [25]:
RF = RandomForestClassifier()
RF.fit(X_train, y_train)
rf_score = RF.score(X_test, y_test)
ml_results.append(f"Imbalanced data - RF: {rf_score}")
print(f"RF for imbalanced data = {rf_score}")

RF for imbalanced data = 0.41237113402061853

Decision Tree (DT)

In [26]:
decistion_tree = DecisionTreeClassifier()
decistion_tree.fit(X_train, y_train)
dt_score = decistion_tree.score(X_test, y_test)
ml_results.append(f"Imbalanced data - DT: {dt_score}")
print(f"DT for imbalanced data = {dt_score}")

DT for imbalanced data = 0.31958762886597936

Deep learning using Neural Network

Use Neural Network in this paper:
https://keras.io/guides/sequential_model/

The architectural setup presented in Fig. 4a and b are 3-layer deep fully-connected network with the RELU activation function and architectural layer are 15–20–20-40–1 and 15-20–20-40–5 respectively. The training data is split into a 30% validation set running for 40 epochs with an early stop monitor on validation loss. The optimizer is Adam with a learning rate of 0.01.


*   Drop-out is chosen over L1 and L2 regularisation in this study
*   Sigmoid and ReLU is the activation function used in this study.
*   Optimizer is Adam with a learning rate of 0.01.
*   The loss function for training is a binary cross-entropy and evaluation metrics accuracy.

In [27]:
def MultiLabelNN():
  # Create 3 layers
  # page 5 - Fig 4.
  # found shape=(10, 22)
  input = Dense(15, input_dim=22, activation="relu", name="Input")
  hidden_layer1 = Dense(20, activation="relu", name="layer1")
  hidden_layer2 = Dense(20, activation="relu", name="layer2") 
  hidden_layer3 = Dense(40, activation="relu", name="layer3") 
  output = Dense(5, activation="sigmoid", name="Output") 

  model = Sequential()

  model.add(input)
  model.add(Dropout(0.1))
  model.add(hidden_layer1)
  model.add(Dropout(0.1))
  model.add(hidden_layer2)
  model.add(Dropout(0.1))
  model.add(hidden_layer3)
  model.add(Dropout(0.1))
  model.add(output)

  optimizer = keras.optimizers.Adam(learning_rate=0.01)
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

  return model

In [28]:
temp = balanced_data.copy()
y_multi_nn = pd.DataFrame([temp.pop(x) for x in ['Insominia', 'shizopherania', 'vascula_demetia', 'MBD', 'Bipolar']]).T

X_multi_nn = temp

# test
X_train, X_test, y_train, y_test = train_test_split(X_multi_nn, y_multi_nn, test_size=0.2)

# validation
X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train, test_size=0.3)

model = MultiLabelNN()
model.fit(
    tf.convert_to_tensor(np.asarray(X_train).astype('int')), 
    tf.convert_to_tensor(y_train),
    epochs=40, 
    batch_size=10
)

# test
test = model.evaluate(tf.convert_to_tensor(np.asarray(X_test).astype('int')), tf.convert_to_tensor(y_test), batch_size=10)

# validation
validation = model.evaluate(tf.convert_to_tensor(np.asarray(X_validation).astype('int')), tf.convert_to_tensor(y_validation), batch_size=10)

print(f'Training Loss and Accuracy (test): {test}')
print(f'Training Loss and Accuracy (validation): {validation}')
dl_results.append(f"Imbalanced data - Multi-label NN Loss and Accuracy(test): {test[1]}")
dl_results.append(f"Imbalanced data - Multi-label NN Loss and Accuracy(validation): {validation[1]}")

Epoch 1/40
27/27 [==============================] - 2s 4ms/step - loss: 23.8436 - accuracy: 0.3074
Epoch 2/40
27/27 [==============================] - 0s 4ms/step - loss: 1.8502 - accuracy: 0.3037
Epoch 3/40
27/27 [==============================] - 0s 5ms/step - loss: 1.1362 - accuracy: 0.5111
Epoch 4/40
27/27 [==============================] - 0s 4ms/step - loss: 0.6746 - accuracy: 0.5593
Epoch 5/40
27/27 [==============================] - 0s 3ms/step - loss: 0.7532 - accuracy: 0.5667
Epoch 6/40
27/27 [==============================] - 0s 3ms/step - loss: 0.6952 - accuracy: 0.5407
Epoch 7/40
27/27 [==============================] - 0s 3ms/step - loss: 0.6395 - accuracy: 0.5630
Epoch 8/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6381 - accuracy: 0.5630
Epoch 9/40
27/27 [==============================] - 0s 4ms/step - loss: 0.7781 - accuracy: 0.5593
Epoch 10/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6851 - accuracy: 0.5556
Epoch 11/40
27/27 [==============================] - 0s 4ms/step - loss: 0.6066 - accuracy: 0.5815
Epoch 12/40
27/27 [==============================] - 0s 4ms/step - loss: 0.6448 - accuracy: 0.5667
Epoch 13/40
27/27 [==============================] - 0s 3ms/step - loss: 0.6438 - accuracy: 0.5593
Epoch 14/40
27/27 [==============================] - 0s 4ms/step - loss: 0.6119 - accuracy: 0.5593
Epoch 15/40
27/27 [==============================] - 0s 4ms/step - loss: 0.6471 - accuracy: 0.5593
Epoch 16/40
27/27 [==============================] - 0s 7ms/step - loss: 0.6035 - accuracy: 0.5593
Epoch 17/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6431 - accuracy: 0.5556
Epoch 18/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6084 - accuracy: 0.5667
Epoch 19/40
27/27 [==============================] - 0s 7ms/step - loss: 0.6330 - accuracy: 0.5667
Epoch 20/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6095 - accuracy: 0.5593
Epoch 21/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6150 - accuracy: 0.5667
Epoch 22/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6200 - accuracy: 0.5778
Epoch 23/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6134 - accuracy: 0.5630
Epoch 24/40
27/27 [==============================] - 0s 7ms/step - loss: 0.6016 - accuracy: 0.5556
Epoch 25/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6130 - accuracy: 0.5741
Epoch 26/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6097 - accuracy: 0.5630
Epoch 27/40
27/27 [==============================] - 0s 7ms/step - loss: 0.5959 - accuracy: 0.5815
Epoch 28/40
27/27 [==============================] - 0s 7ms/step - loss: 0.5968 - accuracy: 0.5889
Epoch 29/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6061 - accuracy: 0.5519
Epoch 30/40
27/27 [==============================] - 0s 5ms/step - loss: 0.6097 - accuracy: 0.5926
Epoch 31/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6090 - accuracy: 0.5556
Epoch 32/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6009 - accuracy: 0.5667
Epoch 33/40
27/27 [==============================] - 0s 7ms/step - loss: 0.6089 - accuracy: 0.5667
Epoch 34/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6219 - accuracy: 0.5704
Epoch 35/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6072 - accuracy: 0.5630
Epoch 36/40
27/27 [==============================] - 0s 6ms/step - loss: 0.5952 - accuracy: 0.5667
Epoch 37/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6092 - accuracy: 0.5741
Epoch 38/40
27/27 [==============================] - 0s 5ms/step - loss: 0.5995 - accuracy: 0.5630
Epoch 39/40
27/27 [==============================] - 0s 5ms/step - loss: 0.5935 - accuracy: 0.5741
Epoch 40/40
27/27 [==============================] - 0s 6ms/step - loss: 0.6047 - accuracy: 0.5778
10/10 [==============================] - 1s 5ms/step - loss: 0.5492 - accuracy: 0.6289
12/12 [==============================] - 0s 8ms/step - loss: 0.5977 - accuracy: 0.5556
Training Loss and Accuracy (test): [0.5492411851882935, 0.6288659572601318]
Training Loss and Accuracy (validation): [0.5976652503013611, 0.5555555820465088]

# Single-Label Classification Model on dataset with class imbalance
Using Neural Network with 3-layer

In [29]:
def SingleLabelNN():
  # Create 3 layers
  # page 5 - Fig 4.
  # found shape=(10, 25)
  input = Dense(15, input_dim=25, activation="relu", name="Input")
  hidden_layer1 = Dense(20, activation="relu", name="layer1")
  hidden_layer2 = Dense(40, activation="relu", name="layer2") 
  hidden_layer3 = Dense(50, activation="relu", name="layer3") 
  output = Dense(1, activation="sigmoid", name="Output") 

  model = Sequential()

  model.add(input)
  model.add(Dropout(0.3))
  model.add(hidden_layer1)
  model.add(Dropout(0.3))
  model.add(hidden_layer2)
  model.add(Dropout(0.3))
  model.add(hidden_layer3)
  model.add(Dropout(0.3))
  model.add(output)

  optimizer = keras.optimizers.Adam(learning_rate=0.01)
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

  return model

In [30]:
diseases = ['Insominia', 'shizopherania', 'vascula_demetia', 'MBD', 'Bipolar']

losses = []

for d in diseases:
  X = data_original.copy()
  y = X.pop(d)

  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
  X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train, test_size=0.3)

  model = SingleLabelNN()
  model.fit(
      tf.convert_to_tensor(np.asarray(X_train).astype('int')), 
      tf.convert_to_tensor(y_train),
      epochs=40, 
      batch_size=10
  )

  # test
  test = model.evaluate(tf.convert_to_tensor(np.asarray(X_test).astype('int')), tf.convert_to_tensor(y_test), batch_size=10)

  # validation
  validation = model.evaluate(tf.convert_to_tensor(np.asarray(X_validation).astype('int')), tf.convert_to_tensor(y_validation), batch_size=10)

  losses.append(f'{d} - Training Loss and Accuracy (test): {test}')
  losses.append(f'{d} - Training Loss and Accuracy (validation): {validation}')
  dl_results.append(f"Imbalanced data - Single-label {d} NN Loss and Accuracy(test): {test[1]}")
  dl_results.append(f"Imbalanced data - Single-label {d} NN Loss and Accuracy(validation): {validation[1]}")

for l in losses:
  print(l)

Epoch 1/40
28/28 [==============================] - 1s 4ms/step - loss: 0.8115 - accuracy: 0.5036
Epoch 2/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6703 - accuracy: 0.6393
Epoch 3/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6150 - accuracy: 0.6786
Epoch 4/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6241 - accuracy: 0.6607
Epoch 5/40
28/28 [==============================] - 0s 3ms/step - loss: 0.5956 - accuracy: 0.6929
Epoch 6/40
28/28 [==============================] - 0s 4ms/step - loss: 0.5310 - accuracy: 0.7500
Epoch 7/40
28/28 [==============================] - 0s 6ms/step - loss: 0.4413 - accuracy: 0.8107
Epoch 8/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3956 - accuracy: 0.8500
Epoch 9/40
28/28 [==============================] - 0s 6ms/step - loss: 0.4326 - accuracy: 0.8607
Epoch 10/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2693 - accuracy: 0.9321
Epoch 11/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2581 - accuracy: 0.9321
Epoch 12/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3769 - accuracy: 0.8786
Epoch 13/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3944 - accuracy: 0.8571
Epoch 14/40
28/28 [==============================] - 0s 5ms/step - loss: 0.4046 - accuracy: 0.8500
Epoch 15/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2972 - accuracy: 0.9000
Epoch 16/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2982 - accuracy: 0.9143
Epoch 17/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2137 - accuracy: 0.9464
Epoch 18/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2158 - accuracy: 0.9393
Epoch 19/40
28/28 [==============================] - 0s 5ms/step - loss: 0.1995 - accuracy: 0.9429
Epoch 20/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2621 - accuracy: 0.9429
Epoch 21/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2070 - accuracy: 0.9500
Epoch 22/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2509 - accuracy: 0.9536
Epoch 23/40
28/28 [==============================] - 0s 6ms/step - loss: 0.1897 - accuracy: 0.9464
Epoch 24/40
28/28 [==============================] - 0s 6ms/step - loss: 0.1387 - accuracy: 0.9714
Epoch 25/40
28/28 [==============================] - 0s 5ms/step - loss: 0.1944 - accuracy: 0.9500
Epoch 26/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2680 - accuracy: 0.9143
Epoch 27/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2470 - accuracy: 0.9250
Epoch 28/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2252 - accuracy: 0.9321
Epoch 29/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2797 - accuracy: 0.9321
Epoch 30/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3271 - accuracy: 0.8893
Epoch 31/40
28/28 [==============================] - 0s 6ms/step - loss: 0.2816 - accuracy: 0.9214
Epoch 32/40
28/28 [==============================] - 0s 6ms/step - loss: 0.2541 - accuracy: 0.9250
Epoch 33/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2028 - accuracy: 0.9429
Epoch 34/40
28/28 [==============================] - 0s 4ms/step - loss: 0.1957 - accuracy: 0.9393
Epoch 35/40
28/28 [==============================] - 0s 4ms/step - loss: 0.1793 - accuracy: 0.9464
Epoch 36/40
28/28 [==============================] - 0s 5ms/step - loss: 0.1352 - accuracy: 0.9714
Epoch 37/40
28/28 [==============================] - 0s 5ms/step - loss: 0.1638 - accuracy: 0.9643
Epoch 38/40
28/28 [==============================] - 0s 5ms/step - loss: 0.1737 - accuracy: 0.9536
Epoch 39/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2322 - accuracy: 0.9321
Epoch 40/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2743 - accuracy: 0.9071
10/10 [==============================] - 0s 3ms/step - loss: 0.0929 - accuracy: 1.0000
12/12 [==============================] - 0s 2ms/step - loss: 0.1253 - accuracy: 0.9833
Epoch 1/40
28/28 [==============================] - 1s 3ms/step - loss: 0.7650 - accuracy: 0.7750
Epoch 2/40
28/28 [==============================] - 0s 3ms/step - loss: 0.5339 - accuracy: 0.8571
Epoch 3/40
28/28 [==============================] - 0s 3ms/step - loss: 0.4297 - accuracy: 0.8607
Epoch 4/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3996 - accuracy: 0.8643
Epoch 5/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3989 - accuracy: 0.8607
Epoch 6/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3446 - accuracy: 0.8536
Epoch 7/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3631 - accuracy: 0.8571
Epoch 8/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3374 - accuracy: 0.8750
Epoch 9/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3564 - accuracy: 0.8643
Epoch 10/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3362 - accuracy: 0.8750
Epoch 11/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3409 - accuracy: 0.8786
Epoch 12/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3038 - accuracy: 0.8929
Epoch 13/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3341 - accuracy: 0.8857
Epoch 14/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2952 - accuracy: 0.9036
Epoch 15/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3333 - accuracy: 0.8786
Epoch 16/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3147 - accuracy: 0.8857
Epoch 17/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2935 - accuracy: 0.8929
Epoch 18/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3116 - accuracy: 0.8964
Epoch 19/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3342 - accuracy: 0.8786
Epoch 20/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3237 - accuracy: 0.8857
Epoch 21/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2769 - accuracy: 0.9071
Epoch 22/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2981 - accuracy: 0.9143
Epoch 23/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2684 - accuracy: 0.9107
Epoch 24/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3236 - accuracy: 0.8750
Epoch 25/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3066 - accuracy: 0.8821
Epoch 26/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3231 - accuracy: 0.8893
Epoch 27/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3280 - accuracy: 0.8714
Epoch 28/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2640 - accuracy: 0.8893
Epoch 29/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2578 - accuracy: 0.8964
Epoch 30/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3009 - accuracy: 0.8750
Epoch 31/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2852 - accuracy: 0.9000
Epoch 32/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3173 - accuracy: 0.9036
Epoch 33/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3076 - accuracy: 0.9000
Epoch 34/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2875 - accuracy: 0.9000
Epoch 35/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2718 - accuracy: 0.9107
Epoch 36/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2999 - accuracy: 0.8821
Epoch 37/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2658 - accuracy: 0.9000
Epoch 38/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2786 - accuracy: 0.8857
Epoch 39/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2515 - accuracy: 0.9036
Epoch 40/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2755 - accuracy: 0.9000
10/10 [==============================] - 0s 3ms/step - loss: 0.4558 - accuracy: 0.8800
12/12 [==============================] - 0s 3ms/step - loss: 0.2630 - accuracy: 0.9083
Epoch 1/40
28/28 [==============================] - 1s 3ms/step - loss: 0.9414 - accuracy: 0.5214
Epoch 2/40
28/28 [==============================] - 0s 3ms/step - loss: 0.7027 - accuracy: 0.6250
Epoch 3/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6591 - accuracy: 0.6464
Epoch 4/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6583 - accuracy: 0.6536
Epoch 5/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6363 - accuracy: 0.6607
Epoch 6/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6485 - accuracy: 0.6536
Epoch 7/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6404 - accuracy: 0.6607
Epoch 8/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6393 - accuracy: 0.6607
Epoch 9/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6403 - accuracy: 0.6607
Epoch 10/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6256 - accuracy: 0.6607
Epoch 11/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6074 - accuracy: 0.6643
Epoch 12/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6115 - accuracy: 0.6536
Epoch 13/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6032 - accuracy: 0.6643
Epoch 14/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5990 - accuracy: 0.6607
Epoch 15/40
28/28 [==============================] - 0s 6ms/step - loss: 0.5742 - accuracy: 0.6607
Epoch 16/40
28/28 [==============================] - 0s 6ms/step - loss: 0.5877 - accuracy: 0.6643
Epoch 17/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5623 - accuracy: 0.6607
Epoch 18/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5398 - accuracy: 0.6571
Epoch 19/40
28/28 [==============================] - 0s 5ms/step - loss: 0.6412 - accuracy: 0.6571
Epoch 20/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5892 - accuracy: 0.6643
Epoch 21/40
28/28 [==============================] - 0s 5ms/step - loss: 0.6117 - accuracy: 0.6607
Epoch 22/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5707 - accuracy: 0.6607
Epoch 23/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5848 - accuracy: 0.6607
Epoch 24/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5880 - accuracy: 0.6607
Epoch 25/40
28/28 [==============================] - 0s 4ms/step - loss: 0.5761 - accuracy: 0.6607
Epoch 26/40
28/28 [==============================] - 0s 5ms/step - loss: 0.6015 - accuracy: 0.6607
Epoch 27/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5941 - accuracy: 0.6607
Epoch 28/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5899 - accuracy: 0.6607
Epoch 29/40
28/28 [==============================] - 0s 6ms/step - loss: 0.5570 - accuracy: 0.6607
Epoch 30/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5833 - accuracy: 0.6607
Epoch 31/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5438 - accuracy: 0.6607
Epoch 32/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5703 - accuracy: 0.6607
Epoch 33/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5817 - accuracy: 0.6607
Epoch 34/40
28/28 [==============================] - 0s 4ms/step - loss: 0.5640 - accuracy: 0.6607
Epoch 35/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6074 - accuracy: 0.6607
Epoch 36/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5727 - accuracy: 0.6607
Epoch 37/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5417 - accuracy: 0.6607
Epoch 38/40
28/28 [==============================] - 0s 6ms/step - loss: 0.5742 - accuracy: 0.6607
Epoch 39/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5523 - accuracy: 0.6607
Epoch 40/40
28/28 [==============================] - 0s 5ms/step - loss: 0.5503 - accuracy: 0.6607
10/10 [==============================] - 0s 4ms/step - loss: 0.5806 - accuracy: 0.6700
12/12 [==============================] - 0s 5ms/step - loss: 0.4584 - accuracy: 0.7833
Epoch 1/40
28/28 [==============================] - 1s 4ms/step - loss: 1.2127 - accuracy: 0.4464
Epoch 2/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6813 - accuracy: 0.5536
Epoch 3/40
28/28 [==============================] - 0s 3ms/step - loss: 0.7129 - accuracy: 0.5179
Epoch 4/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6856 - accuracy: 0.5071
Epoch 5/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6875 - accuracy: 0.5536
Epoch 6/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6696 - accuracy: 0.5750
Epoch 7/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6657 - accuracy: 0.5357
Epoch 8/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6726 - accuracy: 0.5643
Epoch 9/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6498 - accuracy: 0.5643
Epoch 10/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6493 - accuracy: 0.5750
Epoch 11/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6588 - accuracy: 0.5893
Epoch 12/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6347 - accuracy: 0.5786
Epoch 13/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6396 - accuracy: 0.5679
Epoch 14/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6657 - accuracy: 0.6107
Epoch 15/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6538 - accuracy: 0.5857
Epoch 16/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6652 - accuracy: 0.5929
Epoch 17/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6493 - accuracy: 0.6071
Epoch 18/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6359 - accuracy: 0.6214
Epoch 19/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6578 - accuracy: 0.6107
Epoch 20/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6405 - accuracy: 0.6214
Epoch 21/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6146 - accuracy: 0.6107
Epoch 22/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6325 - accuracy: 0.6500
Epoch 23/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6458 - accuracy: 0.6143
Epoch 24/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6366 - accuracy: 0.6286
Epoch 25/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6186 - accuracy: 0.6607
Epoch 26/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6418 - accuracy: 0.6143
Epoch 27/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6686 - accuracy: 0.6143
Epoch 28/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6327 - accuracy: 0.6429
Epoch 29/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6324 - accuracy: 0.5929
Epoch 30/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6323 - accuracy: 0.5857
Epoch 31/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6451 - accuracy: 0.5929
Epoch 32/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6371 - accuracy: 0.6464
Epoch 33/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6393 - accuracy: 0.6536
Epoch 34/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6064 - accuracy: 0.6393
Epoch 35/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6240 - accuracy: 0.6500
Epoch 36/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6153 - accuracy: 0.6286
Epoch 37/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6441 - accuracy: 0.5929
Epoch 38/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6305 - accuracy: 0.6214
Epoch 39/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6194 - accuracy: 0.6250
Epoch 40/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6341 - accuracy: 0.5679
10/10 [==============================] - 0s 2ms/step - loss: 0.6540 - accuracy: 0.5700
12/12 [==============================] - 0s 2ms/step - loss: 0.6293 - accuracy: 0.6083
Epoch 1/40
28/28 [==============================] - 1s 4ms/step - loss: 0.9384 - accuracy: 0.5607
Epoch 2/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6861 - accuracy: 0.5964
Epoch 3/40
28/28 [==============================] - 0s 4ms/step - loss: 0.6542 - accuracy: 0.6500
Epoch 4/40
28/28 [==============================] - 0s 3ms/step - loss: 0.6442 - accuracy: 0.6857
Epoch 5/40
28/28 [==============================] - 0s 3ms/step - loss: 0.5944 - accuracy: 0.6964
Epoch 6/40
28/28 [==============================] - 0s 3ms/step - loss: 0.5442 - accuracy: 0.7536
Epoch 7/40
28/28 [==============================] - 0s 3ms/step - loss: 0.4513 - accuracy: 0.8321
Epoch 8/40
28/28 [==============================] - 0s 3ms/step - loss: 0.4972 - accuracy: 0.7857
Epoch 9/40
28/28 [==============================] - 0s 3ms/step - loss: 0.4641 - accuracy: 0.8607
Epoch 10/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3504 - accuracy: 0.8750
Epoch 11/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3373 - accuracy: 0.8750
Epoch 12/40
28/28 [==============================] - 0s 4ms/step - loss: 0.3594 - accuracy: 0.8607
Epoch 13/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2973 - accuracy: 0.8857
Epoch 14/40
28/28 [==============================] - 0s 3ms/step - loss: 0.3063 - accuracy: 0.8679
Epoch 15/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2888 - accuracy: 0.8964
Epoch 16/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2786 - accuracy: 0.8786
Epoch 17/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2267 - accuracy: 0.8964
Epoch 18/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2240 - accuracy: 0.8964
Epoch 19/40
28/28 [==============================] - 0s 3ms/step - loss: 0.2552 - accuracy: 0.8679
Epoch 20/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2544 - accuracy: 0.8821
Epoch 21/40
28/28 [==============================] - 0s 6ms/step - loss: 0.2519 - accuracy: 0.8821
Epoch 22/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2045 - accuracy: 0.9000
Epoch 23/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2147 - accuracy: 0.8821
Epoch 24/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3035 - accuracy: 0.8750
Epoch 25/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2940 - accuracy: 0.9143
Epoch 26/40
28/28 [==============================] - 0s 5ms/step - loss: 0.4796 - accuracy: 0.8071
Epoch 27/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3679 - accuracy: 0.8643
Epoch 28/40
28/28 [==============================] - 0s 6ms/step - loss: 0.3502 - accuracy: 0.8821
Epoch 29/40
28/28 [==============================] - 0s 6ms/step - loss: 0.2997 - accuracy: 0.9000
Epoch 30/40
28/28 [==============================] - 0s 4ms/step - loss: 0.2856 - accuracy: 0.9071
Epoch 31/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2815 - accuracy: 0.9107
Epoch 32/40
28/28 [==============================] - 0s 5ms/step - loss: 0.3505 - accuracy: 0.8714
Epoch 33/40
28/28 [==============================] - 0s 5ms/step - loss: 0.2846 - accuracy: 0.9000
Epoch 34/40
28/28 [==============================] - 0s 6ms/step - loss: 0.3599 - accuracy: 0.8714
Epoch 35/40
28/28 [==============================] - 0s 6ms/step - loss: 0.3306 - accuracy: 0.8821
Epoch 36/40

# Multi-Label Classification Model on dataset without class imbalance

In [31]:
temp = imbalanced_data.copy()
y_balanced = temp.pop('target')
X_balanced = temp
X_train, X_test, y_train, y_test = train_test_split(X_balanced, y_balanced, test_size=0.2)

# balance data using SMOTE
# We then apply SMOTE on the data, such that every sample had a total of 101 samples each
smote = SMOTE(random_state=101)
X_train_balanced, y_train_balanced = smote.fit_resample(X_train, y_train.ravel())

Multilayer Perceptron (MLP)

In [32]:
MLP = MLPClassifier()
MLP.fit(X_train_balanced, y_train_balanced)
mlp_score = MLP.score(X_test, y_test)
ml_results.append(f"Balanced data - MLP: {mlp_score}")
print(f"MLP for balanced data = {mlp_score}")

MLP for balanced data = 0.36082474226804123

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

Support Vector Machines (SVM)

In [33]:
svc = LinearSVC()
svc.fit(X_train_balanced, y_train_balanced)
svm_score = svc.score(X_test, y_test)
ml_results.append(f"Balanced data - SVM: {svm_score}")
print(f"SVM for balanced data = {svm_score}")

SVM for balanced data = 0.32989690721649484

/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

Random Forest (RF)

In [34]:
RF = RandomForestClassifier()
RF.fit(X_train_balanced, y_train_balanced)
rf_score = RF.score(X_test, y_test)
ml_results.append(f"Balanced data - RF: {rf_score}")
print(f"RF for balanced data = {rf_score}")

RF for balanced data = 0.36082474226804123

Decision Tree (DT)

In [35]:
decistion_tree = DecisionTreeClassifier()
decistion_tree.fit(X_train_balanced, y_train_balanced)
dt_score = decistion_tree.score(X_test, y_test)
ml_results.append(f"Balanced data - DT: {dt_score}")
print(f"DT for balanced data = {dt_score}")

DT for balanced data = 0.26804123711340205

Deep learning using Neural Network

In [36]:
def MultiLabelNN():
  # Create 3 layers
  # page 5 - Fig 4.
  # found shape=(None, 21)
  input = Dense(15, input_dim=21, activation="relu", name="Input")
  hidden_layer1 = Dense(20, activation="relu", name="layer1")
  hidden_layer2 = Dense(20, activation="relu", name="layer2") 
  hidden_layer3 = Dense(40, activation="relu", name="layer3") 
  output = Dense(5, activation="sigmoid", name="Output") 

  model = Sequential()

  model.add(input)
  model.add(Dropout(0.1))
  model.add(hidden_layer1)
  model.add(Dropout(0.1))
  model.add(hidden_layer2)
  model.add(Dropout(0.1))
  model.add(hidden_layer3)
  model.add(Dropout(0.1))
  model.add(output)

  optimizer = keras.optimizers.Adam(learning_rate=0.01)
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

  return model

In [37]:
temp = imbalanced_data.copy()
y = temp.pop('target')
X = temp

X_balanced_new, y_balanced_new = smote.fit_resample(X, y.ravel())

# Re-split the target column back into 5 diseases columns. 
separated_diseases = []
for value in y_balanced_new.ravel():
  item = []
  for v in value:
    item.append(v)
  separated_diseases.append(item)

y = pd.DataFrame(separated_diseases, columns = ['Insominia', 'shizopherania', 'vascula_demetia', 'MBD', 'Bipolar']).astype('int')


X_train, X_test, y_train, y_test = train_test_split(X_balanced_new, y, test_size=0.2)

X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train, test_size=0.3)

model = MultiLabelNN()
model.fit(
    tf.convert_to_tensor(np.asarray(X_train).astype('int')), 
    tf.convert_to_tensor(y_train),
    epochs=40, 
    batch_size=10
)

# test
test = model.evaluate(tf.convert_to_tensor(np.asarray(X_test).astype('int')), tf.convert_to_tensor(y_test), batch_size=10)

# validation
validation = model.evaluate(tf.convert_to_tensor(np.asarray(X_validation).astype('int')), tf.convert_to_tensor(y_validation), batch_size=10)

print(f'Training Loss and Accuracy (test): {test}')
print(f'Training Loss and Accuracy (validation): {validation}')

dl_results.append(f"Balanced data - Multi-label NN Loss and Accuracy(test): {test[1]}")
dl_results.append(f"Balanced data - Multi-label NN Loss and Accuracy(validation): {validation[1]}")

Epoch 1/40
68/68 [==============================] - 2s 3ms/step - loss: 0.6982 - accuracy: 0.3850
Epoch 2/40
68/68 [==============================] - 0s 4ms/step - loss: 0.6182 - accuracy: 0.4351
Epoch 3/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5987 - accuracy: 0.4410
Epoch 4/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5888 - accuracy: 0.4690
Epoch 5/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5827 - accuracy: 0.4248
Epoch 6/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5665 - accuracy: 0.4882
Epoch 7/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5640 - accuracy: 0.4749
Epoch 8/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5519 - accuracy: 0.4823
Epoch 9/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5559 - accuracy: 0.4602
Epoch 10/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5451 - accuracy: 0.4720
Epoch 11/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5502 - accuracy: 0.4631
Epoch 12/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5566 - accuracy: 0.4764
Epoch 13/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5530 - accuracy: 0.5133
Epoch 14/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5553 - accuracy: 0.4661
Epoch 15/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5567 - accuracy: 0.4395
Epoch 16/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5495 - accuracy: 0.4513
Epoch 17/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5546 - accuracy: 0.4926
Epoch 18/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5478 - accuracy: 0.5147
Epoch 19/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5366 - accuracy: 0.4897
Epoch 20/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5398 - accuracy: 0.4454
Epoch 21/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5496 - accuracy: 0.4115
Epoch 22/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5506 - accuracy: 0.4985
Epoch 23/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5546 - accuracy: 0.4705
Epoch 24/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5410 - accuracy: 0.4410
Epoch 25/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5393 - accuracy: 0.4661
Epoch 26/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5548 - accuracy: 0.4513
Epoch 27/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5378 - accuracy: 0.4528
Epoch 28/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5384 - accuracy: 0.4454
Epoch 29/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5422 - accuracy: 0.4558
Epoch 30/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5414 - accuracy: 0.4484
Epoch 31/40
68/68 [==============================] - 0s 3ms/step - loss: 0.5397 - accuracy: 0.4631
Epoch 32/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5360 - accuracy: 0.4071
Epoch 33/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5300 - accuracy: 0.4381
Epoch 34/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5310 - accuracy: 0.4602
Epoch 35/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5417 - accuracy: 0.4602
Epoch 36/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5360 - accuracy: 0.4794
Epoch 37/40
68/68 [==============================] - 0s 4ms/step - loss: 0.5412 - accuracy: 0.4440
Epoch 38/40
68/68 [==============================] - 0s 5ms/step - loss: 0.5306 - accuracy: 0.4322
Epoch 39/40
68/68 [==============================] - 0s 5ms/step - loss: 0.5285 - accuracy: 0.4572
Epoch 40/40
68/68 [==============================] - 0s 5ms/step - loss: 0.5263 - accuracy: 0.4484
25/25 [==============================] - 0s 3ms/step - loss: 0.5158 - accuracy: 0.5144
30/30 [==============================] - 0s 3ms/step - loss: 0.5515 - accuracy: 0.5533
Training Loss and Accuracy (test): [0.5158270597457886, 0.5144032835960388]
Training Loss and Accuracy (validation): [0.551461935043335, 0.5532646179199219]

# Single-Label Classification Model on dataset without class imbalance

In [38]:
def SingleLabelNN():
  # Create 3 layers
  # page 5 - Fig 4.
  # found shape=(None, 25)
  input = Dense(15, input_dim=25, activation="relu", name="Input")
  hidden_layer1 = Dense(20, activation="relu", name="layer1")
  hidden_layer2 = Dense(40, activation="relu", name="layer2") 
  hidden_layer3 = Dense(50, activation="relu", name="layer3") 
  output = Dense(1, activation="sigmoid", name="Output") 

  model = Sequential()

  model.add(input)
  model.add(Dropout(0.3))
  model.add(hidden_layer1)
  model.add(Dropout(0.3))
  model.add(hidden_layer2)
  model.add(Dropout(0.3))
  model.add(hidden_layer3)
  model.add(Dropout(0.3))
  model.add(output)

  optimizer = keras.optimizers.Adam(learning_rate=0.01)
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

  return model

In [39]:
losses_balanced = []

for d in diseases:
  X = balanced_data.copy()
  del X['target']
  y = X.pop(d)

  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
  X_train, X_validation, y_train, y_validation = train_test_split(X_train, y_train, test_size=0.3)

  # balance data with SMOTE
  X_train, y_train = smote.fit_resample(X_train, y_train.ravel())
  X_validation, y_validation = smote.fit_resample(X_validation, y_validation.ravel())

  model = SingleLabelNN()
  model.fit(
      tf.convert_to_tensor(np.asarray(X_train).astype('int')), 
      tf.convert_to_tensor(y_train),
      epochs=40, 
      batch_size=10
  )

  # test
  test = model.evaluate(tf.convert_to_tensor(np.asarray(X_test).astype('int')), tf.convert_to_tensor(y_test), batch_size=10)

  # validation
  validation = model.evaluate(tf.convert_to_tensor(np.asarray(X_validation).astype('int')), tf.convert_to_tensor(y_validation), batch_size=10)

  losses_balanced.append(f'{d} - Training Loss and Accuracy (test): {test}')
  losses_balanced.append(f'{d} - Training Loss and Accuracy (validation): {validation}')

  dl_results.append(f"Balanced data - Single-label {d} NN Loss and Accuracy(test): {test[1]}")
  dl_results.append(f"Balanced data - Single-label {d} NN Loss and Accuracy(validation): {validation[1]}")

for l in losses_balanced:
  print(l)

Epoch 1/40
33/33 [==============================] - 2s 5ms/step - loss: 1.2493 - accuracy: 0.5309
Epoch 2/40
33/33 [==============================] - 0s 6ms/step - loss: 0.6719 - accuracy: 0.6142
Epoch 3/40
33/33 [==============================] - 0s 5ms/step - loss: 0.6684 - accuracy: 0.6204
Epoch 4/40
33/33 [==============================] - 0s 5ms/step - loss: 0.5976 - accuracy: 0.6914
Epoch 5/40
33/33 [==============================] - 0s 5ms/step - loss: 0.5849 - accuracy: 0.6944
Epoch 6/40
33/33 [==============================] - 0s 5ms/step - loss: 0.5104 - accuracy: 0.7284
Epoch 7/40
33/33 [==============================] - 0s 5ms/step - loss: 0.5384 - accuracy: 0.7130
Epoch 8/40
33/33 [==============================] - 0s 4ms/step - loss: 0.4604 - accuracy: 0.8179
Epoch 9/40
33/33 [==============================] - 0s 5ms/step - loss: 0.3111 - accuracy: 0.8827
Epoch 10/40
33/33 [==============================] - 0s 5ms/step - loss: 0.2390 - accuracy: 0.9105
Epoch 11/40
33/33 [==============================] - 0s 5ms/step - loss: 0.2329 - accuracy: 0.9290
Epoch 12/40
33/33 [==============================] - 0s 5ms/step - loss: 0.1675 - accuracy: 0.9537
Epoch 13/40
33/33 [==============================] - 0s 5ms/step - loss: 0.2308 - accuracy: 0.9259
Epoch 14/40
33/33 [==============================] - 0s 5ms/step - loss: 0.2931 - accuracy: 0.8549
Epoch 15/40
33/33 [==============================] - 0s 5ms/step - loss: 0.3076 - accuracy: 0.8704
Epoch 16/40
33/33 [==============================] - 0s 4ms/step - loss: 0.2678 - accuracy: 0.8951
Epoch 17/40
33/33 [==============================] - 0s 5ms/step - loss: 0.1571 - accuracy: 0.9321
Epoch 18/40
33/33 [==============================] - 0s 5ms/step - loss: 0.2091 - accuracy: 0.8981
Epoch 19/40
33/33 [==============================] - 0s 5ms/step - loss: 0.1360 - accuracy: 0.9414
Epoch 20/40
33/33 [==============================] - 0s 5ms/step - loss: 0.1485 - accuracy: 0.9660
Epoch 21/40
33/33 [==============================] - 0s 5ms/step - loss: 0.1183 - accuracy: 0.9537
Epoch 22/40
33/33 [==============================] - 0s 4ms/step - loss: 0.1086 - accuracy: 0.9568
Epoch 23/40
33/33 [==============================] - 0s 5ms/step - loss: 0.0747 - accuracy: 0.9660
Epoch 24/40
33/33 [==============================] - 0s 6ms/step - loss: 0.0538 - accuracy: 0.9877
Epoch 25/40
33/33 [==============================] - 0s 6ms/step - loss: 0.0888 - accuracy: 0.9722
Epoch 26/40
33/33 [==============================] - 0s 7ms/step - loss: 0.0497 - accuracy: 0.9907
Epoch 27/40
33/33 [==============================] - 0s 6ms/step - loss: 0.0631 - accuracy: 0.9846
Epoch 28/40
33/33 [==============================] - 0s 6ms/step - loss: 0.0704 - accuracy: 0.9784
Epoch 29/40
33/33 [==============================] - 0s 6ms/step - loss: 0.0522 - accuracy: 0.9846
Epoch 30/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0693 - accuracy: 0.9753
Epoch 31/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0976 - accuracy: 0.9722
Epoch 32/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0608 - accuracy: 0.9846
Epoch 33/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0544 - accuracy: 0.9846
Epoch 34/40
33/33 [==============================] - 0s 3ms/step - loss: 0.0317 - accuracy: 0.9938
Epoch 35/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0459 - accuracy: 0.9877
Epoch 36/40
33/33 [==============================] - 0s 3ms/step - loss: 0.0534 - accuracy: 0.9846
Epoch 37/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0584 - accuracy: 0.9846
Epoch 38/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0384 - accuracy: 0.9907
Epoch 39/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0469 - accuracy: 0.9877
Epoch 40/40
33/33 [==============================] - 0s 4ms/step - loss: 0.0412 - accuracy: 0.9907
10/10 [==============================] - 0s 3ms/step - loss: 4.5150e-06 - accuracy: 1.0000
15/15 [==============================] - 0s 2ms/step - loss: 1.6993e-06 - accuracy: 1.0000
Epoch 1/40
48/48 [==============================] - 2s 3ms/step - loss: 1.1713 - accuracy: 0.5802
Epoch 2/40
48/48 [==============================] - 0s 3ms/step - loss: 0.4798 - accuracy: 0.7806
Epoch 3/40
48/48 [==============================] - 0s 4ms/step - loss: 0.3424 - accuracy: 0.8671
Epoch 4/40
48/48 [==============================] - 0s 4ms/step - loss: 0.3352 - accuracy: 0.8692
Epoch 5/40
48/48 [==============================] - 0s 4ms/step - loss: 0.2394 - accuracy: 0.9177
Epoch 6/40
48/48 [==============================] - 0s 5ms/step - loss: 0.2255 - accuracy: 0.9283
Epoch 7/40
48/48 [==============================] - 0s 4ms/step - loss: 0.2396 - accuracy: 0.9008
Epoch 8/40
48/48 [==============================] - 0s 4ms/step - loss: 0.2408 - accuracy: 0.9283
Epoch 9/40
48/48 [==============================] - 0s 4ms/step - loss: 0.1952 - accuracy: 0.9473
Epoch 10/40
48/48 [==============================] - 0s 3ms/step - loss: 0.2396 - accuracy: 0.9409
Epoch 11/40
48/48 [==============================] - 0s 4ms/step - loss: 0.1975 - accuracy: 0.9325
Epoch 12/40
48/48 [==============================] - 0s 6ms/step - loss: 0.2074 - accuracy: 0.9346
Epoch 13/40
48/48 [==============================] - 0s 9ms/step - loss: 0.1991 - accuracy: 0.9494
Epoch 14/40
48/48 [==============================] - 1s 11ms/step - loss: 0.2248 - accuracy: 0.9283
Epoch 15/40
48/48 [==============================] - 0s 7ms/step - loss: 0.1981 - accuracy: 0.9388
Epoch 16/40
48/48 [==============================] - 1s 11ms/step - loss: 0.1548 - accuracy: 0.9578
Epoch 17/40
48/48 [==============================] - 1s 14ms/step - loss: 0.1598 - accuracy: 0.9515
Epoch 18/40
48/48 [==============================] - 1s 11ms/step - loss: 0.1538 - accuracy: 0.9515
Epoch 19/40
48/48 [==============================] - 1s 12ms/step - loss: 0.2222 - accuracy: 0.9241
Epoch 20/40
48/48 [==============================] - 1s 13ms/step - loss: 0.1901 - accuracy: 0.9388
Epoch 21/40
48/48 [==============================] - 1s 13ms/step - loss: 0.1912 - accuracy: 0.9283
Epoch 22/40
48/48 [==============================] - 1s 13ms/step - loss: 0.1379 - accuracy: 0.9494
Epoch 23/40
48/48 [==============================] - 1s 10ms/step - loss: 0.1835 - accuracy: 0.9325
Epoch 24/40
48/48 [==============================] - 0s 6ms/step - loss: 0.1731 - accuracy: 0.9430
Epoch 25/40
48/48 [==============================] - 0s 8ms/step - loss: 0.1693 - accuracy: 0.9515
Epoch 26/40
48/48 [==============================] - 1s 18ms/step - loss: 0.1272 - accuracy: 0.9515
Epoch 27/40
48/48 [==============================] - 1s 15ms/step - loss: 0.2092 - accuracy: 0.9325
Epoch 28/40
48/48 [==============================] - 1s 12ms/step - loss: 0.1485 - accuracy: 0.9430
Epoch 29/40
48/48 [==============================] - 0s 7ms/step - loss: 0.1443 - accuracy: 0.9515
Epoch 30/40
48/48 [==============================] - 0s 8ms/step - loss: 0.1201 - accuracy: 0.9557
Epoch 31/40
48/48 [==============================] - 0s 10ms/step - loss: 0.1598 - accuracy: 0.9578
Epoch 32/40
48/48 [==============================] - 0s 9ms/step - loss: 0.1651 - accuracy: 0.9578
Epoch 33/40
48/48 [==============================] - 0s 6ms/step - loss: 0.1994 - accuracy: 0.9388
Epoch 34/40
48/48 [==============================] - 0s 5ms/step - loss: 0.1339 - accuracy: 0.9451
Epoch 35/40
48/48 [==============================] - 0s 4ms/step - loss: 0.1708 - accuracy: 0.9515
Epoch 36/40
48/48 [==============================] - 0s 6ms/step - loss: 0.1234 - accuracy: 0.9515
Epoch 37/40
48/48 [==============================] - 0s 8ms/step - loss: 0.1548 - accuracy: 0.9494
Epoch 38/40
48/48 [==============================] - 0s 7ms/step - loss: 0.1692 - accuracy: 0.9451
Epoch 39/40
48/48 [==============================] - 0s 7ms/step - loss: 0.1399 - accuracy: 0.9641
Epoch 40/40
48/48 [==============================] - 0s 6ms/step - loss: 0.1606 - accuracy: 0.9367
10/10 [==============================] - 0s 4ms/step - loss: 0.2856 - accuracy: 0.9175
21/21 [==============================] - 0s 3ms/step - loss: 0.1829 - accuracy: 0.9505
Epoch 1/40
38/38 [==============================] - 2s 4ms/step - loss: 0.9896 - accuracy: 0.5294
Epoch 2/40
38/38 [==============================] - 0s 6ms/step - loss: 0.7214 - accuracy: 0.5053
Epoch 3/40
38/38 [==============================] - 0s 10ms/step - loss: 0.6898 - accuracy: 0.5695
Epoch 4/40
38/38 [==============================] - 0s 9ms/step - loss: 0.6914 - accuracy: 0.5428
Epoch 5/40
38/38 [==============================] - 0s 10ms/step - loss: 0.6712 - accuracy: 0.6230
Epoch 6/40
38/38 [==============================] - 0s 10ms/step - loss: 0.6342 - accuracy: 0.6578
Epoch 7/40
38/38 [==============================] - 0s 10ms/step - loss: 0.6147 - accuracy: 0.6818
Epoch 8/40
38/38 [==============================] - 0s 10ms/step - loss: 0.5666 - accuracy: 0.7513
Epoch 9/40
38/38 [==============================] - 0s 9ms/step - loss: 0.5135 - accuracy: 0.7834
Epoch 10/40
38/38 [==============================] - 0s 9ms/step - loss: 0.6113 - accuracy: 0.6925
Epoch 11/40
38/38 [==============================] - 0s 8ms/step - loss: 0.5344 - accuracy: 0.7513
Epoch 12/40
38/38 [==============================] - 0s 9ms/step - loss: 0.5831 - accuracy: 0.6979
Epoch 13/40
38/38 [==============================] - 0s 8ms/step - loss: 0.5624 - accuracy: 0.7433
Epoch 14/40
38/38 [==============================] - 1s 23ms/step - loss: 0.4757 - accuracy: 0.8021
Epoch 15/40
38/38 [==============================] - 1s 18ms/step - loss: 0.4822 - accuracy: 0.8128
Epoch 16/40
38/38 [==============================] - 0s 10ms/step - loss: 0.4746 - accuracy: 0.7968
Epoch 17/40
38/38 [==============================] - 0s 13ms/step - loss: 0.5110 - accuracy: 0.7674
Epoch 18/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4872 - accuracy: 0.7914
Epoch 19/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4684 - accuracy: 0.8209
Epoch 20/40
38/38 [==============================] - 0s 13ms/step - loss: 0.4351 - accuracy: 0.8155
Epoch 21/40
38/38 [==============================] - 0s 11ms/step - loss: 0.5924 - accuracy: 0.6390
Epoch 22/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4784 - accuracy: 0.7995
Epoch 23/40
38/38 [==============================] - 0s 8ms/step - loss: 0.4453 - accuracy: 0.8262
Epoch 24/40
38/38 [==============================] - 0s 5ms/step - loss: 0.4662 - accuracy: 0.8048
Epoch 25/40
38/38 [==============================] - 0s 5ms/step - loss: 0.5154 - accuracy: 0.7807
Epoch 26/40
38/38 [==============================] - 1s 14ms/step - loss: 0.4878 - accuracy: 0.8075
Epoch 27/40
38/38 [==============================] - 0s 10ms/step - loss: 0.4444 - accuracy: 0.8262
Epoch 28/40
38/38 [==============================] - 0s 5ms/step - loss: 0.5383 - accuracy: 0.7513
Epoch 29/40
38/38 [==============================] - 0s 5ms/step - loss: 0.4849 - accuracy: 0.7754
Epoch 30/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4438 - accuracy: 0.8235
Epoch 31/40
38/38 [==============================] - 0s 8ms/step - loss: 0.4743 - accuracy: 0.8182
Epoch 32/40
38/38 [==============================] - 0s 7ms/step - loss: 0.4267 - accuracy: 0.8316
Epoch 33/40
38/38 [==============================] - 0s 8ms/step - loss: 0.4753 - accuracy: 0.7995
Epoch 34/40
38/38 [==============================] - 0s 9ms/step - loss: 0.4903 - accuracy: 0.8021
Epoch 35/40
38/38 [==============================] - 0s 8ms/step - loss: 0.5156 - accuracy: 0.7834
Epoch 36/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4680 - accuracy: 0.8048
Epoch 37/40
38/38 [==============================] - 0s 7ms/step - loss: 0.5286 - accuracy: 0.7914
Epoch 38/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4436 - accuracy: 0.8369
Epoch 39/40
38/38 [==============================] - 0s 7ms/step - loss: 0.4752 - accuracy: 0.8048
Epoch 40/40
38/38 [==============================] - 0s 6ms/step - loss: 0.4551 - accuracy: 0.8342
10/10 [==============================] - 0s 7ms/step - loss: 0.5032 - accuracy: 0.7938
16/16 [==============================] - 0s 5ms/step - loss: 0.4653 - accuracy: 0.8101
Epoch 1/40
29/29 [==============================] - 2s 3ms/step - loss: 0.9529 - accuracy: 0.4366
Epoch 2/40
29/29 [==============================] - 0s 4ms/step - loss: 0.6948 - accuracy: 0.4859
Epoch 3/40
29/29 [==============================] - 0s 4ms/step - loss: 0.6630 - accuracy: 0.5493
Epoch 4/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6870 - accuracy: 0.5528
Epoch 5/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6656 - accuracy: 0.5880
Epoch 6/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6595 - accuracy: 0.6092
Epoch 7/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6664 - accuracy: 0.5775
Epoch 8/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6601 - accuracy: 0.5775
Epoch 9/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6547 - accuracy: 0.6092
Epoch 10/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6554 - accuracy: 0.5951
Epoch 11/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6573 - accuracy: 0.6162
Epoch 12/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6479 - accuracy: 0.6232
Epoch 13/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6586 - accuracy: 0.6021
Epoch 14/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6476 - accuracy: 0.6127
Epoch 15/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6430 - accuracy: 0.6092
Epoch 16/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6480 - accuracy: 0.6444
Epoch 17/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6515 - accuracy: 0.6620
Epoch 18/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6446 - accuracy: 0.6373
Epoch 19/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6318 - accuracy: 0.6197
Epoch 20/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6177 - accuracy: 0.6373
Epoch 21/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6347 - accuracy: 0.6444
Epoch 22/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6331 - accuracy: 0.6585
Epoch 23/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6049 - accuracy: 0.6444
Epoch 24/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6770 - accuracy: 0.5845
Epoch 25/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6832 - accuracy: 0.5845
Epoch 26/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6230 - accuracy: 0.6479
Epoch 27/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6523 - accuracy: 0.6549
Epoch 28/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6337 - accuracy: 0.6373
Epoch 29/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6064 - accuracy: 0.6620
Epoch 30/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6155 - accuracy: 0.6514
Epoch 31/40
29/29 [==============================] - 0s 6ms/step - loss: 0.5996 - accuracy: 0.7113
Epoch 32/40
29/29 [==============================] - 0s 5ms/step - loss: 0.5997 - accuracy: 0.6831
Epoch 33/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6113 - accuracy: 0.6725
Epoch 34/40
29/29 [==============================] - 0s 5ms/step - loss: 0.5960 - accuracy: 0.7042
Epoch 35/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6041 - accuracy: 0.6761
Epoch 36/40
29/29 [==============================] - 0s 6ms/step - loss: 0.6307 - accuracy: 0.6479
Epoch 37/40
29/29 [==============================] - 0s 5ms/step - loss: 0.6282 - accuracy: 0.6690
Epoch 38/40
29/29 [==============================] - 0s 4ms/step - loss: 0.6348 - accuracy: 0.6585
Epoch 39/40
29/29 [==============================] - 0s 4ms/step - loss: 0.6789 - accuracy: 0.5810
Epoch 40/40
29/29 [==============================] - 0s 4ms/step - loss: 0.6458 - accuracy: 0.5986
10/10 [==============================] - 0s 2ms/step - loss: 0.6068 - accuracy: 0.6701
16/16 [==============================] - 0s 2ms/step - loss: 0.6368 - accuracy: 0.6282
Epoch 1/40
34/34 [==============================] - 2s 3ms/step - loss: 1.0584 - accuracy: 0.5482
Epoch 2/40
34/34 [==============================] - 0s 4ms/step - loss: 0.6972 - accuracy: 0.5422
Epoch 3/40
34/34 [==============================] - 0s 4ms/step - loss: 0.6702 - accuracy: 0.5843
Epoch 4/40
34/34 [==============================] - 0s 4ms/step - loss: 0.6637 - accuracy: 0.5964
Epoch 5/40
34/34 [==============================] - 0s 4ms/step - loss: 0.6890 - accuracy: 0.5964
Epoch 6/40
34/34 [==============================] - 0s 3ms/step - loss: 0.5925 - accuracy: 0.6928
Epoch 7/40
34/34 [==============================] - 0s 4ms/step - loss: 0.5594 - accuracy: 0.7500
Epoch 8/40
34/34 [==============================] - 0s 4ms/step - loss: 0.4369 - accuracy: 0.8102
Epoch 9/40
34/34 [==============================] - 0s 4ms/step - loss: 0.2327 - accuracy: 0.9187
Epoch 10/40
34/34 [==============================] - 0s 4ms/step - loss: 0.3569 - accuracy: 0.8645
Epoch 11/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1440 - accuracy: 0.9578
Epoch 12/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0882 - accuracy: 0.9759
Epoch 13/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1496 - accuracy: 0.9639
Epoch 14/40
34/34 [==============================] - 0s 4ms/step - loss: 0.2980 - accuracy: 0.8313
Epoch 15/40
34/34 [==============================] - 0s 4ms/step - loss: 0.2084 - accuracy: 0.8645
Epoch 16/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1075 - accuracy: 0.9639
Epoch 17/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1120 - accuracy: 0.9639
Epoch 18/40
34/34 [==============================] - 0s 3ms/step - loss: 0.1038 - accuracy: 0.9548
Epoch 19/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1300 - accuracy: 0.9488
Epoch 20/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1809 - accuracy: 0.9488
Epoch 21/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1748 - accuracy: 0.9428
Epoch 22/40
34/34 [==============================] - 0s 3ms/step - loss: 0.1560 - accuracy: 0.9548
Epoch 23/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1126 - accuracy: 0.9608
Epoch 24/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1040 - accuracy: 0.9608
Epoch 25/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0918 - accuracy: 0.9699
Epoch 26/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1272 - accuracy: 0.9428
Epoch 27/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1193 - accuracy: 0.9488
Epoch 28/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1290 - accuracy: 0.9428
Epoch 29/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0790 - accuracy: 0.9699
Epoch 30/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0937 - accuracy: 0.9639
Epoch 31/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0867 - accuracy: 0.9729
Epoch 32/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1377 - accuracy: 0.9548
Epoch 33/40
34/34 [==============================] - 0s 4ms/step - loss: 0.0834 - accuracy: 0.9729
Epoch 34/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1083 - accuracy: 0.9578
Epoch 35/40
34/34 [==============================] - 0s 4ms/step - loss: 0.1091 - accuracy: 0.9608

In [41]:
print("--- Machine Learning Results ---")
for line in ml_results:
  s = line.split(",")
  print(s)

print("--- Deep Learning Results ---")
for line in dl_results:
  s = line.split(",")
  print(s)

--- Machine Learning Results ---
['Imbalanced data - MLP: 0.4536082474226804']
['Imbalanced data - SVM: 0.36082474226804123']
['Imbalanced data - RF: 0.41237113402061853']
['Imbalanced data - DT: 0.31958762886597936']
['Balanced data - MLP: 0.36082474226804123']
['Balanced data - SVM: 0.32989690721649484']
['Balanced data - RF: 0.36082474226804123']
['Balanced data - DT: 0.26804123711340205']
--- Deep Learning Results ---
['Imbalanced data - Multi-label NN Loss and Accuracy(test): 0.6288659572601318']
['Imbalanced data - Multi-label NN Loss and Accuracy(validation): 0.5555555820465088']
['Imbalanced data - Single-label Insominia NN Loss and Accuracy(test): 1.0']
['Imbalanced data - Single-label Insominia NN Loss and Accuracy(validation): 0.9833333492279053']
['Imbalanced data - Single-label shizopherania NN Loss and Accuracy(test): 0.8799999952316284']
['Imbalanced data - Single-label shizopherania NN Loss and Accuracy(validation): 0.9083333611488342']
['Imbalanced data - Single-label vascula_demetia NN Loss and Accuracy(test): 0.6700000166893005']
['Imbalanced data - Single-label vascula_demetia NN Loss and Accuracy(validation): 0.7833333611488342']
['Imbalanced data - Single-label MBD NN Loss and Accuracy(test): 0.5699999928474426']
['Imbalanced data - Single-label MBD NN Loss and Accuracy(validation): 0.6083333492279053']
['Imbalanced data - Single-label Bipolar NN Loss and Accuracy(test): 0.9900000095367432']
['Imbalanced data - Single-label Bipolar NN Loss and Accuracy(validation): 0.9750000238418579']
['Balanced data - Multi-label NN Loss and Accuracy(test): 0.5144032835960388']
['Balanced data - Multi-label NN Loss and Accuracy(validation): 0.5532646179199219']
['Balanced data - Single-label Insominia NN Loss and Accuracy(test): 1.0']
['Balanced data - Single-label Insominia NN Loss and Accuracy(validation): 1.0']
['Balanced data - Single-label shizopherania NN Loss and Accuracy(test): 0.9175257682800293']
['Balanced data - Single-label shizopherania NN Loss and Accuracy(validation): 0.9504950642585754']
['Balanced data - Single-label vascula_demetia NN Loss and Accuracy(test): 0.7938144207000732']
['Balanced data - Single-label vascula_demetia NN Loss and Accuracy(validation): 0.8101266026496887']
['Balanced data - Single-label MBD NN Loss and Accuracy(test): 0.6701030731201172']
['Balanced data - Single-label MBD NN Loss and Accuracy(validation): 0.6282051205635071']
['Balanced data - Single-label Bipolar NN Loss and Accuracy(test): 1.0']
['Balanced data - Single-label Bipolar NN Loss and Accuracy(validation): 1.0']